<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Códigos QR</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="mb-4">Generar Código QR</h1>
                <!-- Campo de texto -->
                <input type="text" class="form-control mb-3" id="qrText" placeholder="Introduce el texto o URL">
                <!-- Botón de generar QR -->
                <button class="btn btn-success btn-lg btn-block" id="generateBtn">Generar QR</button>
                <!-- Resultado del código QR -->
                <div id="qrResult" class="mt-4">
                    <img id="qrImage" alt="Tu Código QR aparecerá aquí" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>